body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0B0B0D;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex: 1 1 auto;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(assets/fonts/Poppins-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), url(assets/fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

