body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

body.noscroll {
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex: 1 1 auto;
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: local('Roboto'), url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(assets/fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}

.rc-notification {
    top: 30px;
    right: 16px;
}

.rc-notification-notice-content {
    display: flex;
}

.custom-notification .rc-notification-notice-close {
    opacity: 1;
    top: 16px;
    right: 16px;
}

.custom-notification .rc-notification-notice-close > svg > path {
    fill: #C6C9F4;
}
